<!-- <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->

<!-- <body class="mat-typography"> -->

  <div class="section">
    <!-- todo.. https://angular.io/api/router/RouterLinkActive -->
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/price-book">Price Book</button><!-- *ngIf="(authState$ | async)?.isAuthenticated" -->
    <button mat-button routerLink="/service-orders">Service Orders</button><!-- *ngIf="(authState$ | async)?.isAuthenticated" -->
    <!-- <button
      *ngIf="(authState$ | async)?.isAuthenticated && isBatch()"
      [matMenuTriggerFor]="reportMenu"
      mat-button>
      Reports
    </button>
    <button mat-button routerLink="/help">Help</button>
    <span class="fill-space"></span>
    <button mat-button routerLink="/login" *ngIf="!(authState$ | async)?.isAuthenticated" layout-align="end">Login</button>
    <button mat-button (click)="logOut()" *ngIf="(authState$ | async)?.isAuthenticated">Logoff</button>
    <button
      mat-button routerLink="/user-profile"
      *ngIf="(authState$ | async)?.isAuthenticated">
      {{(authState$ | async)?.user?.displayName}}
    </button> -->
  </div>
  
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- </body> -->
