
table {
    width: 100%;
}

button {
    margin-left: 20px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    h1 {
        flex: 1 50%;
    }

    .search {
        display: flex;
        flex: 1 100%;
        align-items: baseline;

        mat-form-field {
            flex: 1 100%;
        }
        button {
            flex: 1 20%;
        }
    }
}
